<template>
    <div id="bolusentry">
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">

            <b-form-group id="event" label="Event:" label-for="input-event">
                <b-form-select
                        id="input-event"
                        v-model="form.event"
                        :options="event"
                        required
                />
            </b-form-group>

            <b-form-group id="bloodsugar" label="Blood Sugar:" label-for="input-bloodsugar">
                <b-form-input
                        id="input-bloodsugar"
                        v-model="form.bloodsugar"
                        required

                />
            </b-form-group>

            <b-form-group id="carbohydrate" label="Carbohydrate:" label-for="input-carbohydrate">
                <b-form-input
                        id="input-carbohydrate"
                        v-model="form.carbohydrate"
                        required
                />
            </b-form-group>

            <b-form-group id="insulinexpected" label="Insulin (Expected):" label-for="input-insulinexpected">
                <b-form-input
                        id="input-insulinexpected"
                        v-model="form.insulinexpected"
                        required
                />
            </b-form-group>

            <b-form-group id="insulinadministered" label="Insulin (Administered):" label-for="input-insulinadministered">
                <b-form-input
                        id="input-carbohydrate"
                        v-model="form.insulinadministered"
                        required
                />
            </b-form-group>

            <b-form-group id="administeredby" label="Administered By:" label-for="input-administeredby">
                <b-form-input
                        id="input-administeredby"
                        v-model="form.administeredby"
                        required
                />
            </b-form-group>

            <b-form-group id="bodypart" label="Body Part:" label-for="input-bodypart">
                <b-form-input
                        id="input-bodypart"
                        v-model="form.bodypart"
                        required
                />
            </b-form-group>

            <b-form-group id="insulintype" label="Insulin Type:" label-for="input-insulintype">
                <b-form-input
                        id="input-insulintype"
                        v-model="form.insulintype"
                        required
                />
            </b-form-group>

            <b-form-group id="notes" label="Notes:" label-for="input-notes">
                <b-form-input
                        id="input-notes"
                        v-model="form.notes"
                        required
                />
            </b-form-group>

            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
        <b-card class="mt-3" header="Form Data Result">
            <pre class="m-0">{{ form }}</pre>
        </b-card>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    event: '',
                    bloodsugar: '',
                    carbohydrate: '',
                    insulinexpected: '',
                    insulinadministered: '',
                    administeredby: '',
                    bodyparty: '',
                    insulintype: '',
                    notes: '',
                },
                event: [{ text: 'Select One', value: null }, 'Breakfast', 'Lunch', 'Dinner', 'Bedtime'],
                show: true
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault()
                alert(JSON.stringify(this.form))
            },
            onReset(evt) {
                evt.preventDefault()
                // Reset our form values
                this.form.event = ''
                this.form.bloodsugar = ''
                this.form.food = ''
                this.form.carbohydrate = ''
                this.form.insulinexpected = ''
                this.form.insulinadministered = ''
                this.form.administeredby = ''
                this.form.bodyparty = ''
                this.form.insulintype = ''
                this.form.notes = ''
                // Trick to reset/clear native browser form validation state
                this.show = false
                this.$nextTick(() => {
                    this.show = true
                })
            }
        }
    }
</script>