<template>
  <div id="home">
    <h1>Welcome to Lailah!</h1>
    <h3>New Here?</h3>
    <p>Be sure to <router-link to="/register"><b>Register</b></router-link></p>
    <h3>Already Registered?</h3>
    <p>Feel free to <router-link to="/login"><b>Login</b></router-link></p>
  </div>
</template>

<script>
import Login from '@/components/Login'
import Register from '@/components/Register'

export default {
  name: 'Home',
  components: Login, Register,
  props: {
    msg: String
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  color: #1e3268;
  margin: 40px 0 0;
}
h3 {
  color: #1e3268;
  margin: 40px 0 0;
}
a:link {
  color: #1e3268;
}
a:visited {
  color: #1e3268;
}
a:hover {
  color: #00b2eb;
  text-decoration: none;
}
</style>
