<template>
    <div id="login">
        <h1>Login</h1>
        <b-form @submit.prevent="handleSubmit">
            <b-form-group
                    id="group-input-username"
                    label="Username:"
                    label-for="input-username"
            >
                <b-form-input
                        id="input-username"
                        v-model="username"
                        required
                        placeholder="Enter Username" />
            </b-form-group>
            <b-form-group
                    id="group-input-password"
                    label="Password:"
                    label-for="input-password"
            >
                <b-form-input
                        id="input-password"
                        v-model="password"
                        type="password"
                        required
                        placeholder="Enter Password" />
            </b-form-group>
            <b-button type="submit" variant="primary">Login</b-button>
        </b-form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                username: '',
                password: '',
                submitted: false
            }
        },
        computed: {
            loggingIn() {
                return this.$store.state.authentication.status.loggingIn;
            }
        },
        created() {
            // reset login status
            this.$store.dispatch('authentication/logout');
        },
        methods: {
            handleSubmit() {
                this.submitted = true;
                const {username, password} = this;
                const {dispatch} = this.$store;
                if (username && password) {
                    dispatch('authentication/login', {username, password});
                }
            }
        }
    }
</script>

<style scoped>

</style>